<% content_for :title, "Editing task" %>
<% modal_for_act = Modal::FormComponent.new("Create new Act", Act::FormComponent.new(Act.new, task.id)) %>
<%= render modal_for_act %>
<div class="container" id="<%= dom_class(task, "form") %>">
  <%= bootstrap_form_with(model: task) do |form| %>
    <% if task.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.text_field :name, help: 'The name of this task, such as "Clean the bathroom on the ground floor"' %>
    </div>
    <div>
      <%= form.text_area :description, rows: "6", placeholder: "Describe the task here ..." %>
    </div>
    <h3>Task</h3>
    <%= content_for modal_for_act.button %>
    <% task.acts.each do |act| %>
      <%= render Act::ButtonComponent.new(act) %>
    <% end %>
    <h3>Assignment</h3>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-group-tab" data-bs-toggle="tab" data-bs-target="#nav-group" type="button" role="tab" aria-controls="nav-group" aria-selected="true">Groups</button>
        <button class="nav-link" id="nav-user-tab" data-bs-toggle="tab" data-bs-target="#nav-user" type="button" role="tab" aria-controls="nav-user" aria-selected="false">Users</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-task-assignment">
      <div class="container tab-pane fade show active" id="nav-group" role="tabpanel" aria-labelledby="nav-group-tab" tabindex="0">
        <ul class="list-group list-group-horizontal">
          <%= form.collection_check_boxes_without_bootstrap :staff_groups, all_groups, :id, :name do |b| %>
            <li class="list-group-item">
              <div class="form-check form-switch">
                <%= b.checkbox class: "form-check-input", role: "switch", checked: task.staff_groups.map(&:id).include?(b.value) %>
                <%= b.label class: "form-check-label" %>
                ID: <%= b.value %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="container tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab" tabindex="0">
        <ul class="list-group list-group-horizontal">
          <%= form.collection_check_boxes_without_bootstrap :staff_users, all_users, :id, :display_name do |b| %>
            <li class="list-group-item">
              <div class="form-check form-switch">
                <%= b.checkbox class: "form-check-input", role: "switch", checked: task.staff_users.map(&:id).include?(b.value) %>
                <%= b.label class: "form-check-label" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= form.submit %>
  </div>
<% end %>
</div>
