<table class="table">
  <thead>
    <tr>
      <th scope="row">Name</th>
      <th>Account</th>
      <th>Display Name</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @staff_users.each do |staff_user| %>
      <tr>
        <div id="<%= dom_id staff_user %>">
          <td><%= link_to staff_user.display_name, staff_user  %></td>
          <td><%= staff_user.name %></td>
          <td><%= staff_user.account %></td>
          <td><%= staff_user.active %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
