<% form_id = "#{uniq_class_id}_form" %>
<%= bootstrap_form_with(model: act, url: acts_path, id: form_id) do |form| %>
  <% if act.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(act.errors.count, "error") %> prohibited this act from being saved:</h2>

      <ul>
        <% act.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.checkbox :active %>
  </div>

  <div>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.hidden_field :task, value: task_id %>
  </div>

  <div>
    <%= form.form_group :recurring_type, label: { text: "Reccuring type" }, help: "Choose a type" do %>
      <% act.recurring_types.each do |type| %>
        <%= form.radio_button :recurring_type, type, label: type.upcase_first, checked: equal_recurring_type_to?(type) %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.datetime_field :starts_at %>
  </div>

  <div>
    <%= form.datetime_field :recurring_until %>
  </div>

  <% content_for submit_button do %>
    <div>
      <%= form.submit formaction: acts_path, form: form_id, class: "btn btn-primary" %>
    </div>
    <% content_for form_title do %>
      <% key = act.persisted? ? "helpers.submit.update" : "helpers.submit.create" %>
      <%= I18n.t(key, model: act.class) %>
    <% end %>
  <% end %>
<% end %>
